
<div class = "main_content">
  <p> This is the home page </p>
</div>


<div class = "bottom_banner" >
  <div class = "bottom_links_wrapper" >
    <ul class = "bottom_links">
      <li class = "b_link"> About </li>
      <li class = "b_link"> Contact </li>
      <li class = "b_link"> News </li>
    </ul>
  </div>
</div>
