<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Welcome to FaceCheck</a>
    </div>

    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "#{current_user.name}'s Profile", current_user %></li>
        <li><%= link_to "Find Friends", :users %></li>
        <li><a href="#">Account</a></li>
        <li><%= link_to "Sign Out", :destroy_user_session, method: :delete %></li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign In", :new_user_session %> </li>
      </ul>
    <% end %>
  </div>
</nav>
